/* create a font face for helvetice nueue */
@font-face {
	font-family: "Regular";
	src: local("HelveticaRegular"),
		url("./fonts/Helvetica.ttf") format("truetype");
}

@font-face {
	font-family: "Bold";
	src: local("HelveticaBold"),
		url("./fonts/Helvetica-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Italic";
	src: local("HelveticaItalic"),
		url("./fonts/Helvetica-Oblique.ttf") format("truetype");
}

@font-face {
	font-family: "BoldItalic";
	src: local("HelveticaBoldItalic"),
		url("./fonts/Helvetica-BoldOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Light";
    src: local("HelveticaLight"),
        url("./fonts/Helvetica-Light.ttf") format("truetype");
}

/* root colors */
:root {
    --dark: #1a1a1a;
    --darkPink: #fd006c;
    --darkPurple: #8238e8;
    --light: #eeeeee;
}
/* then use the font face in the body */
.App {
	font-family: "Regular";
	font-size: 16px;
    color: var(--dark);
	margin: 0;
	padding: 0;
}
